body{
    width:100%;
height: 2000%;
position:relative;
background-color: whitesmoke;
font-family:'Times New Roman', Times, serif;
}
.frontP{
    width:70%;
    position: relative; 
    height:630px;
    margin:auto;
}

.splitleft{
    /*background-image:linear-gradient(to bottom right,gray,orange);
    opacity:0.5;*/
    float:left;
    margin:auto;
background-color:#ffffff;
position:absolute;left:0%;
width:50%;
height:600px;
text-align: center;
}
/*texts on first page*/
#stare{
    margin:auto;
   width:350px;
   position:relative; top:60px;
   font-size: 25px;
}

#stare2{
    font-size: 20px;
    position:relative;top:50px;
}
.splitright{
  /*  background-image:linear-gradient(to bottom right,gray,orange);
    opacity:0.5;*/
    float:right;
    margin:auto;
background-color:#CFCFD3;
position:absolute; right:0%;
width:50%;
height:600px;

}

/*Right page images styled here*/
.picA{
    margin:  auto;
    width:230px;height: 210px;
    border-radius: 80px;
    position: absolute; top:30px; left:30px;
}
.picB{
    margin:  auto;
    width:230px;height: 210px;
    border-radius: 80px;
    position:absolute; top:180px; left:240px;
}
.picC {
    margin:  auto;
width:230px;height: 210px;
border-radius: 80px;
position:absolute; top:330px; left:30px;
}



/*Now the buttons beneath the logo*/
.butn1,.butn2{
    background-color: #297CCE;
    font-size: 10px;
    position:relative;top:80px; right:20px;
    color:white;
    border-radius: 10px;
    width:130px; height:40px;
    border-width: 0px;
    margin-left: 20px;
}



/*button containing logo*/

.logBut{
    position:relative;left:80px; top:30px;
width:300px;
height:60px;
background-color:orange;
border-radius:20px;


}
/*style logo */
.pic1{
    float:left;
    width:80px;
    height:60px;
    border-radius:30px;
    position:relative; right:20px;
}
/* name inside logo*/
h3{
    color: white;
    top:8px;
    margin:20px;
    font-size: 14px;
position: relative;
    left:5px;
    text-align: left;
}
.inscript{/* positioned beneath the page*/
    margin:auto;
    color:black;
background-color:white;
position:absolute; top:600px;
width:100%;
height:30px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
p{
    position:relative; bottom:10px;
}
/* the login pages */
.logPage1{
   /* background-image:url("C:/Users/Emerald/Desktop/FpAge/Images/backk.PNG");
    background-repeat: no-repeat;*/
    
    width:70%;
    position: relative;
    height:630px;
    margin:auto ;
    
}
.center{
    width:450px;
    height:350px;
    background-color: #ffffff;
    position:absolute;  top:50%; left:50%;
    transform:translate(-50%, -50%);
    border-radius:15px;
z-index:1;
}
h1, h4{
    text-align:center;
    padding: 0 10px 0;
}
form{
    padding:0px;
}
.text_field{
    margin:0 20px;
}
    input{position:relative;bottom:20px;
    
}
label ,input{
width:200px;
height:40px;
display:block;
border-radius:10px;
}
input[type="submit"]{
    width:250px;
    height:40px;
    background-color:blueviolet;
    border-radius:20px;
    position:absolute;left:100px;bottom:20px;
    border-width:0px;
}

.logPage2{
   /* background-image:url("C:/Users/Emerald/Desktop/FpAge/Images/backk.PNG");
    background-repeat: no-repeat;
    background-size: auto;*/
    width:70%;
    position: relative; top:5px;
    height:630px;
    margin:auto;
    z-index:1;

}
.color-overlay{
    width:100%;
    height: 100%;
    background: #000;
    opacity:0.3;
    position:absolute;
    z-index:1;
}
/*
#overlay{
    width:100%;
    height: 100%;
position:fixed;top:0;left:0;right:0;bottom:0;
background: rgb(0 0 0);
background:rgba(0 0 0 0.5);
opacity: 0;
z-index:2;
color: #f1f1f1;


}*/
.verifyP1{
    /*width:60%;
    position: relative; top:100px;
    height:600px;
    margin:10% ;*/
    background-color:white;
    color:black;
    width:70%;
    position: relative; top:-10px;
    height:630px;
    margin:auto;

}

.verifyP2{
   /* width:79.2%;
    position: relative; top:140px;
    height:600px;
    margin:10% ;*/
    background-color:white;
    color:black;
    width:70%;
    position: relative; top:-20px;
    height:630px;
    margin:auto;
}

.butnP{
    float:right;
    position: absolute;right:5%;top:90%;

}
/*Where students are displayed*/
.studentC1{
    margin: 40px 30px;
    width:300px;
    height:80px;
    font-size:20px;
    display:inline-block;
    padding:20px 10px ;
}
h2{
text-align: center;
position:relative; left:50px;top:45px;
font-size:15px;

}
.imageQR{
    float:right;
    width:100px;
}
.imgSpace1{
    width:70%;
    position: relative; top:-10px;
    height:630px;
    margin:auto;
    background-color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;

}
#imgSplit {
    width:85%;
    height:40%;
margin:auto;
background-color: grey;

/*position:relative; top:100px;*/
border-radius:15px;

}
#picL,#picM,#picR{
    position:relative; top:25px;
padding-left: 19px;
}
#picL{
margin:  auto;
width:240px;height: 210px;
border-radius: 80px;
}
#picM{
    margin:  auto;
    width:240px;height: 210px;
    border-radius: 80px;
}
#picR{
    margin:  auto;
    width:240px;height: 210px;
    border-radius: 80px;
}