body{
    width:100%;
height: 6000%;
position:absolute;
background-color: rgb(218, 208, 208);
font-family:'Times New Roman', Times, serif;
}
.splitright{
  /*  background-image:linear-gradient(to bottom right,gray,orange);
    opacity:0.5;*/
    float:right;
    margin:50px;
background-color:grey;
position:absolute; 
right:94px;
width:39.8%;
height:600px;
}

/*Right page images styled here*/
.picA{
    margin:  auto;
    width:230px;height: 210px;
    border-radius: 80px;
    position: absolute; top:30px; left:40px;
}
.picB{
    margin:  auto;
    width:230px;height: 210px;
    border-radius: 80px;
    position:absolute; top:180px; left:270px;
}
.picC {
    margin:  auto;
width:230px;height: 210px;
border-radius: 80px;
position:absolute; top:320px; left:40px;
}

.splitleft{
    /*background-image:linear-gradient(to bottom right,gray,orange);
    opacity:0.5;*/
    float:left;
    margin:50px;
background-color:white;
position:absolute; left:85px;
width:39.5%;
height:600px;
text-align: center;
}
/*texts on first page*/
#stare{
    margin:auto;
   width:350px;
   position:relative; top:60px;
   font-size: 25px;
}

#stare2{
    font-size: 20px;
    position:relative;top:50px;
}

/*Now the buttons beneath the logo*/
.butn1,.butn2{
    background-color: blueviolet;
    font-size: 10px;
    position:relative;top:80px; right:20px;
    color:white;
    border-radius: 10px;
    width:130px; height:40px;
    border-width: 0px;
    margin-left: 20px;
}



/*button containing logo*/

.logBut{
    position:relative;left:80px; top:30px;
width:300px;
height:60px;
background-color:orange;
border-radius:20px;


}
/*style logo */
.pic1{
    float:left;
    width:80px;
    height:60px;
    border-radius:30px;
    position:relative; right:20px;
}
/* name inside logo*/
h3{
    color: white;
    top:8px;
    margin:20px;
    font-size: 14px;
position: relative;
    left:5px;
    text-align: left;
}
.inscript{/* positioned beneath the page*/
    margin:60px;
background-color:white;
position:absolute; top:560px;
left:75px;
width:79.3%;
height:50px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;


}
/* the login pages */
.logPage1{
    background-image:url("C:/Users/Emerald/Desktop/FpAge/Images/backk.PNG");
    background-repeat: no-repeat;
    
    width:85%;
    position: relative; top:535px;
    height:600px;
    margin:10% ;
    
}
.center{
    width:450px;
    height:350px;
    background-color: white;
    position:absolute;  top:50%; left:50%;
    transform:translate(-50%, -50%);
    border-radius:15px;

}
h1, h4{
    text-align:center;
    padding: 0 10px 0;
}
form{
    padding:0px;
}
.text_field{
    margin:0 20px;
}
    input{position:relative;bottom:20px;
    
}
label ,input{
width:200px;
height:40px;
display:block;
border-radius:10px;
}
input[type="submit"]{
    width:250px;
    height:40px;
    background-color:blueviolet;
    border-radius:20px;
    position:absolute;left:100px;bottom:20px;
    border-width:0px;
}

.logPage2{
    background-image:url("C:/Users/Emerald/Desktop/FpAge/Images/backk.PNG");
    background-repeat: no-repeat;
    background-size: auto;
    width:80%;
    position: relative; top:400px;
    height:600px;
    margin:10% ;
    

}
.verifyP1{
    width:79.2%;
    position: relative; top:270px;
    height:600px;
    margin:10% ;
    background-color:white;
    color:black;

}

.verifyP2{
    width:79.2%;
    position: relative; top:140px;
    height:600px;
    margin:10% ;
    background-color:white;
    color:black;
}

/*Where students are displayed*/
.studentC1{
    margin: 40px 30px;
    width:300px;
    height:100px;
    font-size:20px;
    display:inline-block;
}
h2{
text-align: center;
position:relative; left:50px;top:30px;
font-size:15px;

}
.QR1{
    float:right;
    
}
.inscript2{
    position:absolute;top:550px;left:100px;
    width:79.2%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;


}